<form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control [nzErrorTip]="loginForm.controls.userName.errors | userNameErrors">
      <nz-input-group nzPrefixIcon="user">
        <input 
          nz-input 
          type="text" 
          formControlName="userName" 
          placeholder="Username" 
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="loginForm.controls.password.errors | errorsFormatter">
      <nz-input-group nzPrefixIcon="lock">
        <input 
          nz-input 
          type="password" 
          formControlName="password" 
          placeholder="Password" 
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <div nz-row class="login-button">
    <button 
      [disabled]="!loginForm.valid" 
      nz-button 
      class="login-form-button login-form-margin" 
      [nzType]="'primary'"
    >Log in</button>
  </div>
</form>
