<div class="items">
  @for (item of items; track $index) {
    <div [ngClass]="{
      'youtube': item.cardType === cardTypeEnum.YouTube,
      'favorite': item.cardType === cardTypeEnum.FavoriteCard,
      'custom': item.cardType === cardTypeEnum.CustomCard,
    }">
      <app-video-card
        [title]="item.title"
        [previewUrl]="item.previewUrl"
        [description]="item.description"
        [publishDate]="item.publishDate" 
        [id]="item.id"
        [statistics]="item.statistics"
        [cardType]="item.cardType"
      />
    </div>
  }
</div>