.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E5E5E5;
  padding: 0 25px;
}

.content {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  max-width: 1200px;

  &__search {
    display: flex;
    align-items: center;
    column-gap: 15px;
    flex-wrap: nowrap;
    height: 80px;
  }
}

.middle {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.type {
  cursor: pointer;
  color: #2F80ED;    
}

.admin {
  position: absolute;
  display: flex;
  column-gap: 12px;
  top: 25%;
  left: 0%;

  align-items: center;
}