<div class="container">
  <div class="content">
    
    @if (isLogin | async) {
      <div class="admin">
        <button nz-button nzType="primary" nzSize="large" [routerLink]="['/admin']">
          <span nz-icon nzType="bank" nzTheme="outline"></span>
        </button>
        <button nz-button nzType="primary" nzSize="large" [routerLink]="['/not-found']">
          <span nz-icon nzType="heat-map" nzTheme="outline"></span>
        </button>
      </div>
    }

    <app-search (isSettingShowEmit)="isSettingShowEmit($event)" />

    <app-login-area />
  </div>

  @if (isSettingShow && !checkPage()) {
     <app-settings />
  }
</div>
