<div class="content__search">
  <button class="youtube-icon" nz-button nzType="primary" nzSize="large" [routerLink]="['']">
    <span nz-icon nzType="play-circle" nzTheme="twotone"></span>
  </button>

  <form nz-form nzLayout="inline" [formGroup]="searchForm">
    <input 
      formControlName="search" 
      nz-input 
      type="text" 
      placeholder="Search input"
      [attr.disabled]="(page$ | async) !== pageEnum.Main || null"
    />
  </form>
  {{ (page$ | async) }}
  <nz-select [(ngModel)]="maxResult" (ngModelChange)="search()">
    <nz-option nzValue="8" nzLabel="8" />
    <nz-option nzValue="12" nzLabel="12" />
    <nz-option nzValue="16" nzLabel="16" />
  </nz-select>

  <button 
    nz-button nzType="primary" 
    nzSize="large" 
    class="setting-toggle-button" 
    (click)="toggleIsSettingShow()"
    [disabled]="(page$ | async) !== pageEnum.Main"
  >
    <span nz-icon nzType="setting" nzTheme="twotone"></span>
  </button>
</div>
