<div class="card" [appVideoCardBorder]="publishDate"> 
  <nz-card 
    nzHoverable 
    [nzCover]="coverTemplate" 
    nzSize="small"
    [routerLink]="['/details', id]"
  >
    <nz-card-meta [nzTitle]="title" [nzDescription]="descriptionTemplate" />
  </nz-card>

  <ng-template #coverTemplate>
    <img class="card__img" alt="preview" [src]="previewUrl" />
  </ng-template>

  <ng-template #descriptionTemplate>
    <div class="card__details">
      <div class="card__description">
        <p nz-typography nzEllipsis [nzEllipsisRows]="3">
          {{ description }}
        </p>
      </div>
      <div class="card__statistics">
        <app-statistics [statistics]="statistics" />
      </div>
    </div>
  </ng-template>
</div>
