.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E5E5E5;
}

.content {
  display: flex;
  align-items: center;
  column-gap: 15px;
  flex-wrap: nowrap;
  height: 80px;
}

.sorting {
  display: flex;
  align-items: center;
  column-gap: 15px;
  flex-wrap: nowrap;
  height: 50px;

  &__types {
    display: flex;
    column-gap: 20px;

    > input {
      width: 200px;
    }
  }

  &__type {
    cursor: pointer;
    color: #2F80ED;    
  }
}