.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E5E5E5;
}

.content {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  max-width: 1200px;

  &__search {
    display: flex;
    align-items: center;
    column-gap: 15px;
    flex-wrap: nowrap;
    height: 80px;
  }

  &__login {
    position: absolute;
    display: flex;
    top: 25%;
    right: 0%;
  }
}

.sorting {
  display: flex;
  align-items: center;
  column-gap: 15px;
  flex-wrap: nowrap;
  height: 50px;

  &__types {
    display: flex;
    column-gap: 20px;

    > input {
      width: 200px;
    }
  }

  &__type {
    cursor: pointer;
    color: #2F80ED;    
  }
}