<div class="card" [appVideoCardBorder]="publishDate"> 
  @switch (cardType) {
    @case (cardTypeEnum.CustomCard) {
      <button 
        class="delete-custom-card" 
        nz-button 
        nzType="primary" 
        nzDanger
        (click)="deleteCustomCard()"
      >
        <span nz-icon nzType="delete" nzTheme="outline"></span>
      </button>
    }

    @case (cardTypeEnum.FavoriteCard) {
      <button 
        class="favorite" 
        nz-button nzType="primary" 
        (click)="isFavoriteLast ? removeFavorite() : addFavorite()"
      >
        <span nz-icon nzType="heart" [nzTheme]="(isFavorite$ | async) ? 'outline' : 'fill'"></span>
      </button>
    }
     
    @case (cardTypeEnum.YouTube) {
      <button 
        class="favorite" 
        nz-button nzType="primary" 
        (click)="isFavoriteLast ? removeFavorite() : addFavorite()"
      >
        <span nz-icon nzType="heart" [nzTheme]="(isFavorite$ | async) ? 'outline' : 'fill'"></span>
      </button>
    }
  }

  <nz-card 
    nzHoverable 
    [nzCover]="coverTemplate" 
    nzSize="small"
    [routerLink]="['/details', id]"
  >
    <nz-card-meta [nzTitle]="title" [nzDescription]="descriptionTemplate" />
  </nz-card>

  <ng-template #coverTemplate>
    <img 
      nz-image 
      class="card__img" 
      alt="preview" 
      [nzSrc]="previewUrl ?? ''" 
      [nzFallback]="fallback"
      nzDisablePreview
    />
  </ng-template>

  <ng-template #descriptionTemplate>
    <div class="card__details">
      <div class="card__description">
        <p nz-typography nzEllipsis [nzEllipsisRows]="3">
          {{ description }}
        </p>
      </div>
      @if (statistics) {
        <div class="card__statistics">
          <app-statistics [statistics]="statistics" />
        </div>
      } @else {
        <div class="more-container">
          <button class="more-button" nz-button nzType="primary">More...</button> 
        </div>
      }
    </div>
  </ng-template>
</div>
