:host {
  width: fit-content;
}

.card {
  position: relative;
  width: 263px;
  height: 327px;
  border-radius: 8px;

  &__img {
    object-fit: contain;
    padding: 10px;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 115px;
  }
  
  &__statistics {
    display: flex;
  }

  &__stat {
    display: flex;
    column-gap: 3px;
    font-size: 16px;
  }
}

.favorite {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.more-container {
  margin: 0 auto;
}

.more-button {
  border-radius: 8px;
}

nz-card {
  height: 100%;
}
