<form nz-form [formGroup]="createCardForm" [nzLayout]="'vertical'" class="login-form" (ngSubmit)="submit()">
  <nz-form-item>
    <nz-form-label nzRequired>Title</nz-form-label>
    <nz-form-control [nzErrorTip]="createCardForm.controls.title.errors | errorsFormatter">
      <input 
        nz-input 
        type="text" 
        formControlName="title" 
        placeholder="Title" 
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Description</nz-form-label>
    <nz-form-control [nzErrorTip]="createCardForm.controls.description.errors | errorsFormatter">
      <nz-textarea-count [nzMaxCharacterCount]="255">
        <textarea      
          rows="4" 
          formControlName="description" 
          placeholder="Description" 
          nz-input 
        ></textarea>
      </nz-textarea-count>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>Preview image link</nz-form-label>
    <nz-form-control [nzErrorTip]="createCardForm.controls.previewImage.errors| errorsFormatter">
      <input 
        nz-input 
        type="text" 
        formControlName="previewImage" 
        placeholder="Preview image" 
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>Video link</nz-form-label>
    <nz-form-control [nzErrorTip]="createCardForm.controls.video.errors| errorsFormatter">
      <input 
        nz-input 
        type="text" 
        formControlName="video" 
        placeholder="Video" 
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>DatePicker</nz-form-label>
    <nz-form-control  [nzErrorTip]="createCardForm.controls.createDate.errors | errorsFormatter">
      <nz-date-picker [nzDisabledDate]="disabledDates" formControlName="createDate"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <form nz-form [formGroup]="validateTags">
    @for (tagControl of tags; track tagControl; let i = $index) {
      <nz-form-item>
        <div class="grid-wrapper">
          <nz-form-label [nzFor]="tagControl.controlInstance" nzRequired>Tag {{ tagControl.id }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please enter a tag'">
            <input
              class="tag-input"
              nz-input
              placeholder="Tag"
              [attr.id]="tagControl.id"
              [formControlName]="tagControl.controlInstance"
            />
          </nz-form-control>
          <button 
            class="dynamic-delete-button"
            nz-button nzType="dashed" 
            nzShape="circle" 
            (click)="removeTag(tagControl, $event)"
          >
            <span nz-icon nzType="minus-circle-o"></span>
          </button>
        </div>
      </nz-form-item>
    }
    @if (tags.length !== MAX_TAGS) {
      <div nz-row class="add-tag-container">
        <button 
          [disabled]="tags.length === MAX_TAGS" 
          nz-button 
          class="login-form-button login-form-margin" 
          [nzType]="'primary'"
          (click)="addTag()"
        >Add Tag</button>
      </div>  
    }
  </form>

  <div nz-row class="create-card-container">
    <button 
      [disabled]="!createCardForm.valid || !validateTags.valid" 
      nz-button 
      [nzType]="'primary'"
    >Create Card</button>
  </div>
</form>
