<app-cards 
  [videoCards]="(sortedItems$ | async) || []"
  [customCards]="(pageNumber$ | async) === 1 ? (customCards$ | async) ?? [] : []"
/>

@if (((sortedItems$ | async) || []).length) {
  <div class="pagination">
    <button 
      nz-button 
      nzType="primary"
      [disabled]="!((pageTokens$ | async) || {})[pageTokenKeyEnum.Prev] || (pageNumber$ | async) === 1 || isApiLoading()"
      (click)="pageLoad(pageTokenKeyEnum.Prev)"
    >
      Prev
    </button>
    {{ pageNumber$ | async }}
    <button 
      nz-button 
      nzType="primary"
      [disabled]="!((pageTokens$ | async) || {})[pageTokenKeyEnum.Next] || isApiLoading()"
      (click)="pageLoad(pageTokenKeyEnum.Next)"
    >
      Next
    </button>
  </div>
}