<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="sorting">
  <p nz-typography>Sorting by:</p>
  <div class="types">
    @for (sortTypeFor of sortTypeButton; track $index) {
      <label nz-radio-button [nzValue]="sortTypeFor" (click)="setSortType(sortTypeFor)">
        {{ sortTypeFor }}
        <span 
          *ngIf="(sortType$ | async) === sortTypeFor"
          nz-icon 
          [nzType]="(sortDirection$ | async)  === sortDirectionEnum.ASC ? 'arrow-down' : 'arrow-up'" 
          nzTheme="outline"
        ></span>
      </label>
    }
    <input nz-input placeholder="Type word or sentance" nzSize="small" [(ngModel)]="sortInput"/>
  </div>
</div>
